:root {
	--color-black: hsl(0, 0%, 10%);
	--color-white: hsl(0, 0%, 100%);
	--color-darken: hsl(0, 0%, 20%);

	--color-teal-100: hsl(160, 85%, 87%);
	--color-teal-200: hsl(162, 78%, 77%);
	--color-teal-300: hsl(162, 72%, 65%);
	--color-teal-400: hsl(162, 68%, 54%);
	--color-teal-500: hsl(162, 73%, 46%);
	--color-teal-600: hsl(162, 82%, 40%);
	--color-teal-700: hsl(162, 87%, 35%);
	--color-teal-800: hsl(162, 88%, 30%);


    --color-indigo-100: hsl(224, 82%, 49%);



	--shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}




a,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4rem;
	margin: 0 auto;
}


.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	display: grid;
	align-content: center;
	width: 100%;
	height: 4.5rem;
	padding: 0 1rem;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	background: var(--color-white);
	box-shadow: var(--shadow-medium);

}

.menu .menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding : 20px 0 0 0;
}

.menu .menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: var(--color-black);
}


.menu-link.is-active {
    position: relative;
    color: var(--color-indigo-100);
    transition: all 0.35s ease;
}

.menu .menu-icon {
    font-size: 1.35rem;
    line-height: 1;
    color: inherit;
}

.menu .menu-name {
    display: none;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    visibility: hidden;
    text-transform: capitalize;
}

ol, ul {
    padding-left: 0;
}


.top-menu {
	position: fixed;
	left: 0;
	top: 0;
	display: grid;
	align-content: center;
	width: 100%;
	height: 4.5rem;
	padding: 0 1rem;
	background: var(--color-white);
	box-shadow: var(--shadow-medium);
	z-index: 2;
}


@media only screen and (min-width: 360px) {
	.menu .menu-name {
        display: block;
        visibility: visible;
    }
}

@media only screen and (min-width: 576px) {
	.menu .menu-list {
        justify-content: center;
        column-gap: 3rem;
    }
}
